@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

body {
    background: #f4f5f8;
    min-height: 100vh;
}

header {
    min-height: 100px;
    background: linear-gradient(-2deg, #007e3b, #1be7fe);
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .2);

    .switcher {
        position: absolute;
        visibility: hidden;
        left: -9999;
    }

    label {
        font-size: 30px;
        cursor: pointer;
        display: none;
    }

    ul {
        list-style-type: none;
        display: flex;
    }

    a {
        display: block;
        text-transform: uppercase;
        text-decoration: none;
        padding: 0 15px;
        transition: .4s;

        &:hover {
            color: #3498db;
        }
    }
}